// breakpoint
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;

// colors
$green: #00bfa5;
$orange: #ff9104;
$red: #ff1744;
$font-color: #37474f;
$font-inverse-color: #eceff1;
$bg-black: #1c1c1c;

// common style mixins

%section {
  padding: 80px 0;
}

@mixin cross-hedding($border-color) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    width: 320px;
    height: calc(1em + 20px);
    border: 2px solid $border-color;
  }

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 150px);
    width: 300px;
    height: calc(1em + 40px);
    border: 2px solid $border-color;
  }
}

@mixin button($theme-color, $inverse-color) {
  display: inline-block;
  color: $theme-color;
  font-size: 1.2rem;
  padding: 0.4em 1.2em;

  border: 1px solid $theme-color;
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);

  &:hover,
  &:focus {
    color: $inverse-color;
    background: $theme-color;
    text-decoration: none;
  }
}

// common styles
html {
  font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  text-rendering: optimizeLegibility;
  color: $font-color;
  line-height: 1.5;
  font-size: 14px;

  @media (min-width: $breakpoint-sm) {
    font-size: 16px;
  }
}

main {
  overflow: hidden;
}

h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: $breakpoint-sm) {
    font-size: 62px;
  }
}

.content-wrapper {
  width: 100%;
  max-width: 42rem;
  margin: 0 auto;
}

// each section styles

#hero-section {
  width: 100%;

  padding: 150px 0;
  text-align: center;

  @media (min-width: $breakpoint-sm) {
    padding: 240px 0;
  }

  h1 {
    font-family: "Abril Fatface", serif;
    font-size: 48px;
    font-weight: bold;

    @media (min-width: $breakpoint-sm) {
      font-size: 72px;
    }
  }

  p {
    font-size: 24px;
  }
}

#about {
  position: relative;
  padding-bottom: 4px;
  color: $font-inverse-color;

  background-color: $red;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: $bg-black;
    transform: skewY(-9deg);

    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: $red;
    transform: skewX(-7deg) rotate(-11deg);

    @media (min-width: $breakpoint-sm) {
      transform: skewX(-5deg) rotate(-10deg);
    }

    z-index: -2;
  }

  .wrapper {
    padding: 0 0 60px;
    background-color: $bg-black;
  }

  p {
    padding: 0 1rem;

    @media (min-width: $breakpoint-sm) {
      padding: 0;
    }
  }
}

#products {
  @extend %section;

  h2 {
    @include cross-hedding($green);
  }
}

.product-showcase {
  padding: 40px 10px;

  @media (min-width: $breakpoint-sm) {
    padding: 60px 30px;
  }

  p {
    margin-bottom: 1.8em;
  }

  a {
    @include button($green, #fff);
  }
}

#activities {
  @extend %section;

  border-top: 2px solid $red;

  h2 {
    @include cross-hedding($red);
  }

  a {
    @include button($red, #fff);
  }
}

#contact {
  @extend %section;

  color: $font-inverse-color;
  background-color: $green;

  h2 {
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  a {
    display: inline-block;
    color: $font-inverse-color;
    font-size: 1.2rem;
    padding: 0.4em 1.2em;
    border: 1px solid $font-inverse-color;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $green;
      background-color: $font-inverse-color;
    }
  }
}
